<style type="text/css">
.success {
	border: 1px solid;
	margin: 15px 0px;
	padding:15px 20px 15px 55px;
	width: 500px;
	font: bold 12px verdana;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	text-shadow: 2px 2px 2px #ccc;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
}
</style>
<div style="background:#CBF997;width:500px" class="success">
  <div class="notification_subject" style="font-size:18px;padding:5px;text-align:center;font-weight:bold;color:#4EAC00"> Lorem ipsum dolor sit </div>
  <div class="notification_message" style="font-size:12px;padding:5px;"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ornare ante vitae sem commodo venenatis. Sed ac mauris et diam vulputate tempor a dapibus eros. Donec scelerisque eros at dui auctor tempor et a tellus. Etiam tincidunt, enim a fermentum rutrum, eros nulla tempus nisi, a ullamcorper nulla ipsum et purus. Class aptent taciti sociosqu ad litora torquent per conubia nostra </div>
</div>
