<table width="500" border="0" cellpadding="5" cellspacing="5">
  <tr>
    <td colspan="3" style="background:#3bafda;color:#FFFFFF;font-weight:600;text-align:center;font-family:MicrosoftYaHei;">
    	Table Title
    </td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;</td>
  </tr>
  <tr style="border:2px solid #aab2bd;background:#e6e9ed;color:#4d4d4d">
    <td width="150">Name</td>
    <td width="10">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr style="border:2px solid #aab2bd;background:#e6e9ed;color:#4d4d4d">
    <td width="150">Name</td>
    <td width="10">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr style="border:2px solid #aab2bd;background:#e6e9ed;color:#4d4d4d">
    <td width="150">Name</td>
    <td width="10">&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
